// Colors

brandColor = #182947
brandColorLight = #2A3E5F
brandColorTextLight = #6F82A2

// Navigation colors

nav-background = brandColor


// Clock

clock-text-color = white
clock-bg-color = brandColorTextLight
clock-border-color = brandColorLight


// menu variables
menu-width = 400